@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;700&family=Roboto:ital,wght@1,300&display=swap');


body {

    background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-attachment: fixed;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


.content-holder {
    width: 55dvw;
    margin: auto;

    .header-div {
        display: flex;
        justify-content: space-between;
        margin-top: 43px;
        border: 3px solid hsl(217, 16%, 45%);
        border-radius: 15px;

        img {
            padding: 23px;
        }

        div {
            background-color: white;
            border-radius: 10px;
            margin: 15px 20px 15px 0;
            .score-text {
                color: hsl(229, 64%, 46%);
                display: block;
                font-weight: 600;
                font-size: 18px;
                padding: 14px 50px 0 50px;
            }

            .score-number {
                color: hsl(229, 25%, 31%);
                font-weight: 700;
                font-size: 55px;
                margin-left: 36%;
            }
        }
    }
}