@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Rubik&display=swap");
body {
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-attachment: fixed;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.header-holder {
  width: 55dvw;
  margin: auto;
  margin-top: 43px;
}
.header-holder .header-div {
  display: flex;
  justify-content: space-between;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 15px;
}
.header-holder .header-div img {
  padding: 23px;
}
.header-holder .header-div div {
  background-color: white;
  border-radius: 10px;
  margin: 15px 20px 15px 0;
}
.header-holder .header-div div .score-text {
  color: hsl(229, 64%, 46%);
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding: 14px 50px 0 50px;
  letter-spacing: 2px;
}
.header-holder .header-div div .score-number {
  color: hsl(229, 25%, 31%);
  font-weight: bold;
  -webkit-text-stroke: 3px;
  font-size: 55px;
  letter-spacing: 2px;
  margin-left: 35%;
}

.main-holder .background {
  background-image: url(images/bg-triangle.svg);
  background-size: 280px;
  height: 280px;
  background-repeat: no-repeat;
  width: 280px;
  margin: auto;
  margin-top: 150px;
  position: relative;
}
.main-holder .background .paper {
  float: left;
  width: 115px;
  height: 115px;
  margin: -40px 0 0 -40px;
  background: linear-gradient(#e5e5e5, #e5e5e5) padding-box, linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%)) border-box;
  border-radius: 80px;
  border: 17px solid transparent;
  box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgb(32, 52, 156);
  transform: translateY(-11px) scale(1.03);
}
.main-holder .background .paper img {
  margin: 27px 0 0 30px;
}
.main-holder .background .sciss {
  float: right;
  width: 115px;
  height: 115px;
  margin: -40px -40px 0 0;
  background: linear-gradient(#e5e5e5, #e5e5e5) padding-box, linear-gradient(to bottom, hsla(39, 100%, 50%, 0.88), hsla(40, 84%, 53%, 0.88)) border-box;
  border-radius: 80px;
  border: 17px solid transparent;
  box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgb(160, 115, 19);
  transform: translateY(-11px) scale(1.03);
}
.main-holder .background .sciss img {
  margin: 28px 0 0 32px;
}
.main-holder .background .rock {
  position: absolute;
  bottom: -15px;
  left: 23%;
  width: 115px;
  height: 115px;
  margin: -25px -25px 0 0;
  background: linear-gradient(#e5e5e5, #e5e5e5) padding-box, linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%)) border-box;
  border-radius: 80px;
  border: 17px solid transparent;
  box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgb(152, 0, 28);
  transform: translateY(-11px) scale(1.03);
}
.main-holder .background .rock img {
  margin: 35px 0 0 32px;
}

button {
  position: absolute;
  bottom: 20px;
  right: 25px;
  padding: 8px 30px 8px 35px;
  border: 1.5px solid white;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  letter-spacing: 2px;
  font-family: "Barlow Semi Condensed", sans-serif;
}/*# sourceMappingURL=style.css.map */