  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Rubik&display=swap');

///////Mixins///////

  @mixin main-circle {
      width: 115px;
      height: 115px;
      border-radius: 80px;
      border: 17px solid transparent;
      transform: translateY(-11px) scale(1.03);
      transition: 0.5s;
  }

  @mixin win-circle {
      width: 190px;
      height: 190px;
      border-radius: 135px;
      border: 30px solid transparent;
      transform: translateY(-11px) scale(1.03);
      transition: 2s;
  }

  @mixin mobile-circle-size {
      width: 100px;
      height: 100px;
      border: 15px solid transparent;
  }

//////////////////////


  body {
      margin: unset;
      background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
      background-attachment: fixed;
      font-family: 'Barlow Semi Condensed', sans-serif;
  }

  .header-holder {
      width: 55dvw;
      margin: auto;
      margin-top: 43px;

      @media only screen and (max-width: 700px) {
          width: 90%;
      }

      .header-div {
          display: flex;
          justify-content: space-between;
          border: 3px solid hsl(217, 16%, 45%);
          border-radius: 15px;

          img {
              padding: 23px;

              @media only screen and (max-width: 700px) {
                  width: 110px;
              }
          }

          div {
              background-color: white;
              border-radius: 10px;
              margin: 15px 20px 15px 0;
              text-align: center;

              @media only screen and (max-width: 700px) {
                  padding-bottom: 10px;
              }

              .score-text {
                  color: hsl(229, 64%, 46%);
                  display: block;
                  font-weight: bold;
                  font-size: 16px;
                  padding: 14px 50px 0 50px;
                  letter-spacing: 2px;

                  @media only screen and (max-width: 700px) {
                      font-size: 13px;
                      padding: 14px 25px 0 25px;
                  }

              }

              .score-number {
                  color: hsl(229, 25%, 31%);
                  font-weight: bold;
                  -webkit-text-stroke: 3px;
                  font-size: 55px;
                  letter-spacing: 2px;

                  @media only screen and (max-width: 700px) {
                      font-size: 45px;
                  }
              }
          }
      }
  }

  .main-holder {
      display: block;

      .background {
          background-image: url(images/bg-triangle.svg);
          background-size: 280px;
          height: 280px;
          background-repeat: no-repeat;
          width: 280px;
          margin: auto;
          margin-top: 150px;
          position: relative;

          @media only screen and (max-width: 700px) {
              background-size: 220px;
              height: 220px;
              width: 220px;
          }


          .paper {
              @include main-circle;
              float: left;
              margin: -40px 0 0 -40px;
              background: linear-gradient(#e5e5e5, #e5e5e5) padding-box, linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%)) border-box;
              box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgb(32 52 156);


              @media only screen and (max-width: 700px) {
                  width: 95px;
                  height: 95px;
                  border-width: 12px;
              }

              &:hover {
                  cursor: pointer;
                  box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 8px rgb(32, 52, 156), 0 0 0 8px rgb(200 200 200 / 10%), 0 0 0 16px rgb(200 200 200 / 10%), 0 0 0 24px rgb(200 200 200 / 10%);
              }

              img {
                  margin: 27px 0 0 30px;

                  @media only screen and (max-width: 700px) {
                      width: 42px;
                      margin: 22px 0 0 24px;
                  }
              }
          }

          .sciss {
              @include main-circle;
              float: right;
              margin: -40px -40px 0 0;
              background: linear-gradient(#e5e5e5, #e5e5e5) padding-box, linear-gradient(to bottom, hsl(39deg 100% 50% / 88%), hsla(40, 84%, 53%, 0.88)) border-box;
              box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgb(160 115 19);

              @media only screen and (max-width: 700px) {
                  width: 95px;
                  height: 95px;
                  border-width: 12px;
              }

              &:hover {
                  cursor: pointer;
                  box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 8px rgb(160, 115, 19), 0 0 0 8px rgb(200 200 200 / 10%), 0 0 0 16px rgb(200 200 200 / 10%), 0 0 0 24px rgb(200 200 200 / 10%);
              }

              img {
                  margin: 28px 0 0 32px;

                  @media only screen and (max-width: 700px) {
                      width: 42px;
                      margin: 24px 0 0 26px;
                  }
              }
          }

          .rock {
              @include main-circle;
              position: absolute;
              bottom: -15px;
              left: 23%;
              margin: -25px -25px 0 0;
              background: linear-gradient(#e5e5e5, #e5e5e5) padding-box, linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%)) border-box;
              box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgb(152 0 28);

              @media only screen and (max-width: 700px) {
                  width: 95px;
                  height: 95px;
                  border-width: 12px;
                  left: 21.5%;
              }

              &:hover {
                  cursor: pointer;
                  box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 8px rgb(152, 0, 28), 0 0 0 8px rgb(200 200 200 / 10%), 0 0 0 16px rgb(200 200 200 / 10%), 0 0 0 24px rgb(200 200 200 / 10%);
              }

              img {
                  margin: 35px 0 0 32px;

                  @media only screen and (max-width: 700px) {
                      width: 42px;
                      margin: 29px 0 0 25px;
                  }
              }
          }

      }

  }

  .open-btn {
      position: absolute;
      bottom: 20px;
      right: 25px;
      padding: 8px 30px 8px 35px;
      border: 1.5px solid white;
      border-radius: 8px;
      background-color: transparent;
      color: white;
      letter-spacing: 2px;
      font-family: 'Barlow Semi Condensed', sans-serif;

      @media only screen and (max-width: 700px) {
          left: 0;
          right: 0;
          width: 112px;
          margin: auto;
      }

      &:hover {
          cursor: pointer;
      }
  }

  .modal-section {
      display: none;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      z-index: 1;
      height: 100%;
      top: 0;

      .modal-content {
          background: white;
          padding: 0px 14px 37px 40px;
          width: 330px;
          margin: auto;
          margin-top: 175px;
          border-radius: 10px;

          @media only screen and (max-width: 700px) {
              width: unset;
              margin-top: unset;
              border-radius: unset;
              padding: unset;
              height: 100%;
          }
      }

      .modal-head {
          padding-top: 5px;

          @media only screen and (max-width: 700px) {
              padding-top: 20%;
          }

          h1 {
              float: left;
              font-weight: bold;
              -webkit-text-stroke: 1px;
              color: hsl(229, 25%, 31%);
              margin-left: -10px;

              @media only screen and (max-width: 700px) {
                  float: unset;
                  text-align: center;
                  margin-left: unset;
              }
          }

          img {
              float: right;
              margin-top: 26px;
              margin-right: 15px;

              &:hover {
                  cursor: pointer;
              }

              @media only screen and (max-width: 700px) {
                  position: absolute;
                  left: 48.5%;
                  margin-left: unset;
                  float: unset;
                  bottom: 10%;
              }
          }
      }

      .modal-main {
          @media only screen and (max-width: 700px) {
              width: 304px;
              margin: auto;
          }

          img {
              padding-top: 10%;

              @media only screen and (max-width: 700px) {
                  padding-top: 30%;
              }
          }
      }
  }

  .result-screen {
      display: none;
      justify-content: space-evenly;
      width: 92dvw;
      margin: auto;
      margin-top: 160px;

      @media only screen and (max-width: 700px) {
          justify-content: space-around;
          margin-top: 110px;
          width: 100dvw;
      }

      span {
          color: white;
      }

      .result-text {
          display: none;

          @media only screen and (max-width: 700px) {
              position: absolute;
              bottom: 110px;
          }

          @media only screen and (max-height: 715px) {
              bottom: 75px;
          }
      }

      h1 {

          text-align: center;
          font-size: 45px;
          color: white;

          @media only screen and (max-width: 700px) {
              font-size: 55px;
              font-weight: bolder;
              margin-bottom: 20px;
          }


      }

      button {
          width: 180px;
          padding: 15px 0px;
          color: red;
          font-family: "Barlow Semi Condensed", sans-serif;
          border-radius: 8px;
          border: none;
          font-weight: 600;
          letter-spacing: 2px;

          &:hover {
              color: #a52727;
              cursor: pointer;
          }

          @media only screen and (max-width: 700px) {
              width: 211px;
          }
      }

      .you-picked {
          position: absolute;
          top: -110px;
          left: 35px;
          font-size: 18px;
          letter-spacing: 3px;
          font-weight: 700;

          @media only screen and (max-width: 700px) {
              font-size: 14px;
              width: 96px;
              top: unset;
              bottom: -55px;
              left: unset;
          }
      }

      .house-picked {
          @extend .you-picked;
          left: 5px;
          width: 215px;

          @media only screen and (max-width: 700px) {
              font-size: 14px;
              width: 154px;
              top: unset;
              left: -30px;
              bottom: -55px;
          }
      }

      .sciss-win {

          width: 190px;
          height: 190px;
          background: linear-gradient(#e5e5e5, #e5e5e5) padding-box, linear-gradient(to bottom, hsl(39deg 100% 50% / 88%), hsla(40, 84%, 53%, 0.88)) border-box;
          border-radius: 135px;
          border: 30px solid transparent;
          box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 8px rgb(160 115 19);
          transform: translateY(-11px) scale(1.03);
          transition: 2s;

          @media only screen and (max-width: 700px) {
              @include mobile-circle-size;
          }

          img {
              width: 80px;
              margin: 50px 0 0px 55px;

              @media only screen and (max-width: 700px) {
                  width: 45px;
                  margin: 25px 0 0 27px;
              }
          }
      }

      .rock-win {
          @include win-circle;
          background: linear-gradient(#e5e5e5, #e5e5e5) padding-box, linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%)) border-box;
          box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 8px rgb(152 0 28);

          @media only screen and (max-width: 700px) {
              @include mobile-circle-size;
          }

          img {
              width: 80px;
              margin: 55px 0 0 52px;

              @media only screen and (max-width: 700px) {
                  width: 45px;
                  margin: 30px 0 0 27px;
              }
          }

      }

      .paper-win {
          @include win-circle;
          background: linear-gradient(#e5e5e5, #e5e5e5) padding-box, linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%)) border-box;
          box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 8px rgb(32 52 156);

          @media only screen and (max-width: 700px) {
              @include mobile-circle-size;
          }

          img {
              width: 80px;
              margin: 48px 0 0 50px;

              @media only screen and (max-width: 700px) {
                  width: 45px;
                  margin: 25px 0 0 26px;
              }
          }
      }

      .house-def,
      .you-def {
          width: 190px;
          height: 190px;
          border-radius: 135px;
          border: 30px solid transparent;
          transform: translateY(-11px) scale(1.03);
          background: #12123d;

          @media only screen and (max-width: 700px) {
              @include mobile-circle-size;
          }
      }
  }

  .glow-paper {
      box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 8px rgb(32, 52, 156), 0 0 0 40px rgb(255 255 255 / 10%), 0 0 0 80px rgb(255 255 255 / 10%), 0 0 0 125px rgb(255 255 255 / 10%) !important;

      @media only screen and (max-width: 700px) {
          box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 8px rgb(32, 52, 156), 0 0 0 15px rgb(255 255 255 / 5%), 0 0 0 40px rgb(255 255 255 / 5%), 0 0 0 70px rgb(255 255 255 / 5%) !important;
      }
  }

  .glow-sciss {
      box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 8px rgb(160, 115, 19), 0 0 0 40px rgb(255 255 255 / 10%), 0 0 0 80px rgb(255 255 255 / 10%), 0 0 0 125px rgb(255 255 255 / 10%) !important;

      @media only screen and (max-width: 700px) {
          box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 8px rgb(160, 115, 19), 0 0 0 15px rgb(255 255 255 / 5%), 0 0 0 40px rgb(255 255 255 / 5%), 0 0 0 70px rgb(255 255 255 / 5%) !important;
      }
  }

  .glow-rock {
      box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 8px rgb(152, 0, 28), 0 0 0 40px rgb(255 255 255 / 10%), 0 0 0 80px rgb(255 255 255 / 10%), 0 0 0 125px rgb(255 255 255 / 10%) !important;

      @media only screen and (max-width: 700px) {
          box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 8px rgb(152, 0, 28), 0 0 0 15px rgb(255 255 255 / 5%), 0 0 0 40px rgb(255 255 255 / 5%), 0 0 0 70px rgb(255 255 255 / 5%) !important;
      }
  }